@model UserModel
@{
    ViewData["Title"] = "Excluir Usuário";
}

<div class="text-center">
    <h3 class="display-5">Confirmar exclusão do Usuário<br>(@Model.Name)?</h3>
    <a class="btn btn-lg btn-secondary" role="button" asp-controller="User" asp-action="Index">Cancelar</a>
    <a class="btn btn-lg btn-danger" role="button" asp-controller="User" asp-action="Delete"
        asp-route-id="@Model.Id">Excluir</a>
</div>
